[submodule "vendor/mini-swe-agent"]
	path = vendor/mini-swe-agent
	url = https://github.com/shellicar/mini-swe-agent.git
	branch = feature/claude-swe-patches
[submodule "vendor/swebench"]
	path = vendor/swebench
	url = https://github.com/shellicar/SWE-bench
[submodule "vendor/swe-bench-pro"]
	path = vendor/swe-bench-pro
	url = https://github.com/shellicar/SWE-bench_Pro-os
