[submodule "vendor/mini-swe-agent"]
	path = vendor/mini-swe-agent
	url = https://github.com/shellicar/mini-swe-agent.git
	branch = feature/claude-swe-patches
[submodule "vendor/swebench"]
	path = vendor/swebench
	url = https://github.com/shellicar/SWE-bench
[submodule "vendor/swe-bench-pro"]
	path = vendor/swe-bench-pro
	url = https://github.com/shellicar/SWE-bench_Pro-os
[submodule "vendor/multi-swe-bench"]
	path = vendor/multi-swe-bench
	url = https://github.com/shellicar/multi-swe-bench
[submodule "vendor/claude-cli"]
	path = vendor/claude-cli
	url = https://github.com/Hellicar-Solutions/claude-cli-tool-sea.git
	branch = feature/tool-sea-harness
